name: Release

on:
  push:
    branches:
      - main
      - next # Run on both branches

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
      - run: pnpm install
      - run: pnpm build

      # Create Release Pull Request or Publish
      - name: Create Release Pull Request or Publish
        uses: changesets/action@v1
        with:
          # This executes the publish command defined in package.json
          publish: pnpm changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
